.current-time-flex{
    width: 100%;
    position: absolute;
    color: black;
    left: -6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-time-round{
    width: 12px;
    height: 12px;
    background-color: #fe2807;
    border-radius: 50%;
}
.current-time{
    border-bottom: 2px solid #fe2807;
    padding-left: 0px;
    // margin-right: 10px;
    width: 100%;
}
@keyframes linemove {
    to {
        transform: translateY(960px);
    }
}