.modal-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
.modal-content-wrapper{
    z-index: 20;
    box-sizing: border-box;
    border-radius: 8px;
    position: fixed;
    width: 250px;
    height: 120px;
    background: white;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}